.container {
    position: relative;
    box-sizing: border-box;
    display:block;
    flex-direction: column;
    width: 360px;
    height: 640px;
    justify-content: center;    
    align-items: center;
    background: #fff;
}

.videoOutgoing{
    position: absolute;
    display: flex;
    height: 160px;
    top: 40px;
    left: 20px;
    right: 20px;

    & .desc{
        height: 120px;
    }

    & img {
        width: 120px;
        height: 120px;
    }

    & p {
        color: #000;
        font-family: "Helvetica-Light";
    }
}

.videoInviter{
    position: absolute;
    height: 240px;
    top: 80px;
    left: 120px;
    width: 120px;
    text-align: center;

    & img {
        display: inline;
        width: 100px;
        height: 100px;
        margin:5px;
    }

    & p {
        color: #000;
        font-family: "Helvetica-Light";
    }
}

.localVideo{
    position: absolute;
    z-index: 99;
    object-fit:fill;
    display: block;
    width: 70px;
    height: 100px;
    top: 40px;
    left: 20px;
}

.remoteVideo{
    position: absolute;
    display: block;
    width: 100%;
    object-fit:fill;
    height: 100%;
}

.audioAccept{
    position: absolute;
    display: block;
    top: 360px;
    right: 8px;
    width: 120px;
    height: 160px;
    text-align: center;

    & img {
        display: block;
        margin:0 auto;
        width: 100%;
        max-width: 70px;
    }

    & p {
        color: #000;
        font-family: "Helvetica-Light";
    }
}

.videoOutgoingOrConnectedAction{
    display: flex;
    flex-direction: row;
    text-align: center;
    position: absolute;
    top: 460px;
    justify-content:space-around;
    width: 100%;

    & img {
        width: 100%;
        height: 100%;
        max-width: 80px;
        max-height:80px;
    }

    & p {
        color: #000;
        font-family: "Helvetica-Light";
    }
}

.videoIncomingAction {
    display: block;
    position: absolute;
    top: 540px;
    left: 30px;
    right: 30px;
    width: 300px;
    height: 120px;
    white-space:nowrap;
    text-align: center;

    & img {
        width: 120px;
        height: 120px;
    }

    & p {
        color: #000;
        font-family: "Helvetica-Light";
    }

}

.audioConnectedAction{
    display: block;
    position: absolute;
    top: 300px;
    width: 100%;
    white-space:nowrap;
    text-align: center;
    & img {
        width: 100%;
        max-width: 70px;
        height: 100%;
        max-height: 70px;
    }

    & p {
        color: #000;
        font-family: "Helvetica-Light";
    }
}


.incomingAccept{
    float: right; 
    width: 100%;
    max-width: 70px;
    height: 100%;
    max-height: 70px;
}

.incomingHangup{
    float: left; 
    width: 100%;
    max-width: 70px;
    height: 100%;
    max-height: 70px;
}

.audioIncomingHangup{
    width: 100%;
    max-width: 70px;
    height: 100%;
    max-height: 70px;
}