
.container {
    box-shadow: inset 0 1px 0 0 var(--shadow-color);
    position: relative;
    display: flex;
    height: 180px;
    align-items: center;
    justify-content: space-between;
    background: #fff;


    & i {
        font-size: 24px;
        color: #000;
        cursor: pointer;
    }

    & i:hover {
        color: #34b7f1;
    }
}

.test{
    height: 100px;
    width: 100%;
    margin-left: 24px;
    margin-top: 32px;
    line-height: 150%;
    border: 0;
    padding-right: 17px;
    background: 0;
    color: #333;
    resize: none;
    font-size: 14px;
    outline: 0;
}

.action {
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: 32px;
    width: 180px;
    margin-right: 17px;
    display: flex;
    & i{
        margin-right: 20px;
    }
    /* justify-content: space-between; */
}

.voipTargetList {
    height: calc(100vh - 160px); /* Height - Header - Footer - Search Input */
    overflow-x: hidden;
    overflow-y: auto;
}

.tips {
    position: absolute;
    height: 32px;
    left: 14px;
    top: -32px;
    padding: 0 16px;
    line-height: 32px;
    font-size: 14px;
    color: #fff;
    background: color(#616161 -alpha(10%));
    border-radius: 1px;
    opacity: 0;
    transform-origin: center bottom;
    transition: .15s cubic-bezier(0, 0, .2, 1);
    pointer-events: none;
}

.shouldSelectUser:hover .tips {
    opacity: 1;
    top: calc(-32px - 24px);
}

