
.list {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 345px;
    /* width: 35vw; */
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 7px;

    & li {
        margin: 0;
        position: relative;
        display: flex;
        padding-left: 20px;
        /* margin: 24px; */
        height: 50px;
        justify-content: flex-start;
        align-items: center;
        font-size: 16px;
        color: #333;
        cursor: pointer;

        &:not(.notfound):hover,
        &.active,
        &.active i {
            color: rgba(33, 150, 243, .9) !important;
        }

        &.selected,
        &.selected i {
            color: #3f51b5;
        }
    }

    & li:hover,
    & .active{
        background: #e8e7e7;
    }
    
    & li i {
        position: absolute;
        top: 50%;
        right: 24px;
        font-size: 20px;
        color: #ddd;
        transform: translateY(-50%);
        & svg {
            background: #fff;
            border-radius: 50%;
        }
    }
}
.searchBarbg {
    background: #dbd9d8;
    width:240px;
    border-radius:8px;
    margin-left: 17px;
    margin-top: 18px;
    width: 227px;

    & input {
        -webkit-app-region: no-drag;
        height: 30px;
        line-height: 30px;
        background: none;
        outline: 0;
        border: 0;
        font-family: 'Helvetica';
        font-size: 18px;
        font-weight: 100;
        text-indent: -150px;
        margin-left: 28px;
      }
    
    & i {
        position: absolute;
        left: 22px;
        top: 34px;
        font-size: 24px;
        color: #6b6a6a;
        transform: translateY(-50%);
      }
}
.avatar {
    height: 32px;
    width: 32px;
    margin-right: 24px;
    border-radius: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

.notfound {
    justify-content: center !important;
    flex-direction: column;

    & img {
        width: 89px;
        margin-top: 175px;
    }

    & h3 {
        font-weight: 100;
        white-space: nowrap;
    }
}

.username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
    display: inline-block;
}



@media (width <= 800px) {
    .list {
        & li {
            /* margin: 20px; */
            font-size: 13px;
        }

        & li i {
            right: 24px;
            font-size: 16px;
        }
    }

    .avatar {
        height: 24px;
        width: 24px;
        margin-right: 20px;
    }

    .notfound {
        & img {
            width: 89px;
            margin-top: 175px;
        }
    }
}
