.container{
    width: 100%;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    height: 20px;
    background: #f5f5f5;
}
.container h1 {
    height: 20px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "system-ui";
    font-weight: normal;
    width: 100%;
    color: #777;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    cursor: default;
   
}

.container div {   
    position: fixed;
    right: 8px;
    top: 0px;
    -webkit-app-region: no-drag;
}

.container p {    
    color: #777;
    cursor: pointer;
    padding-left: 10px;
    /* padding-right: 15px; */
    display: inline-block;
    margin: 5px;
}

@media (width <= 800px) {
    .container h1 {
        font-size: 12px;
    }
}
