
.inner {
    display: flex;
    justify-content: space-between;
}

.inner.hideConversation {
    & .left {
        display: none;
    }

    & .right {
        width: 100vw;
    }
}

.left {
    position: relative;
    width: 250px;
    box-shadow: inset -1px 0 0 0 #eaedea;
    background: #edeae8;

   

    & .addChat {
        position: absolute;
        right: 5px;
        top: 20px;
        height: 30px;
        width: 30px;
        border-radius: 22%;
        line-height: 30px;
        text-align: center;
        font-size: 20px;
        background: #dcd9d8;
        /* box-shadow: 0 0 24px 0 rgba(119, 119, 119, .5); */
        cursor: pointer;
        z-index: 9;
        color: #595959;
        -webkit-app-region: no-drag;
        transform: scale(0.83);
    }
}

.right {
    width: calc(100vw - 300px);
}

@media (width <= 800px) {
    .left {
        /* width: 250px; */

        & .addChat {
            right: 5px;
            top: 20px;
            height: 30px;
            width: 30px;
            line-height: 30px;
            font-size: 15px;
        }
    }

    .right {
        width: calc(100vw - 280px);
    }
}
