.container {
  position: relative;
  padding: 0 !important;
  overflow: hidden;
  height: 100%;

  & input {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 320px;
    text-align: center;
    font-size: 16px;
    outline: 0;
  }
  & .top {
    display: block;
    color: #000;
    height: 45%;
    border-bottom: 1px solid #f4f4f4;

    & div {
      height: 30px;
      line-height: 25px;
    }
    & .displayName {
      font-family: "SimHei";
      font-size: 24px;
    }
    & .uid {
      color: #999999;
      font-size: 14px;
    }
    & .image {
      width: 70px;
      height: 70px;
      position: absolute;
      right: 25px;
      top: 5px;

      & img {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border-radius: 5px;
      }
    }
  }

  & .bottom {
    color: #000;
    margin-top: 30px;
    border-top: 1px solid #e7e7e7;
    padding: 30px 0 60px 0;
    border-bottom: 1px solid #e7e7e7;

    & .area {
      color: #999999;
      font-size: 14px;
      margin-bottom: 7px;
      line-height: 30px;
      display: flex;
      align-items: center;

      & span {
        color: #000;
        font-size: 16px;
        display: inline-block;
        height: 30px;
        min-width: 60px;
      }
      & span:first-child {
        display: inline-block;
        width: 60px;
        color: #999999;
      }
      & .editSpan{
        background:rgba(221, 221, 221,0.5);
        border-bottom :1px solid #000;
        outline:none;
      }
      & .editbtn{
        box-sizing: border-box;
      }
      & .editbtn::before{
        content: "点击添加备注";
        font-size: 14px;
      }
      & .editbtn:hover{
        border: 1px solid #ddd;
      }
    }
    & .btns {
      margin-top: 25px;
      float: right;
      margin-right: 10px;
      & span {
        margin-left: 20px;
      }
    }
  }
}

.noselected {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;

  & img {
    width: 200px;
    margin-bottom: 5vh;
  }

  & h1 {
    font-family: "Roboto";
    font-weight: 100;
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: 2px;
    word-spacing: 4px;
  }
}

.edit {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 40px;
  text-align: center;
  background: #e1306c;
  box-shadow: 0 0 24px 0 rgba(119, 119, 119, 0.6);
  cursor: pointer;

  & i {
    color: #fff;
    cursor: pointer;
  }
}

.hero {
  display: flex;
  height: 100%;
  padding-top: 20px;
  font-family: "Helvetica";
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: 0.2s ease-in-out;

  &.large {
    height: 400px;
    padding-top: 0;
  }

  & .username {
    display: -webkit-box;
    padding: 0 12px;
    line-height: 16px; /* fallback */
    max-height: 32px; /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    letter-spacing: 1px;
    color: #4a4a4a;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & p {
    display: -webkit-box;
    line-height: 16px;
    max-height: 32px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 0 12px;
    max-width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 12px;
    opacity: 0.5;
  }
}

.hero.showEdit {
  transform: translateY(-60px);
}

.hero.isme {
  height: 350px;

  & .address {
    border: 0;
    margin-top: 24px;
  }

  & .action {
    display: none;
  }
}

.address {
  display: inline-block;
  height: 32px;
  margin: 0 auto;
  padding: 0 12px;
  line-height: 32px;
  font-size: 14px;
  font-family: "Roboto";
  text-align: center;
  border-bottom: thin solid;
  opacity: 0.8;

  & i {
    display: inline-block;
    margin: 0 5px;
  }
}

.inner {
  position: relative;
  display: inline-block;
  margin-bottom: 14px;
  width: 450px;
  text-align: left;
  margin-top: 30px;

  & img {
    width: 130px;
    height: 130px;
    border-radius: 0;
  }
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 130px;
  z-index: 9;
}

.action {
  position: relative;
  display: inline-block;
  margin-top: 44px;
  padding: 8px 12px;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 200;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    opacity: 1 !important;
  }
}

@media (width <= 800px) {
  .container {
    width: 100%;

    & input {
      height: 46px;
      font-size: 13px;
    }
  }

  .edit {
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 30px;
  }

  .hero {
    height: 100%;
    padding-top: 10px;

    &.large {
      height: 300px;
      padding-top: 10px;
    }

    & h3 {
      letter-spacing: 1px;
      color: #4a4a4a;
    }

    & p {
      padding: 0 8px;
      max-width: 280px;
      font-size: 12px;
    }
  }

  .hero.showEdit {
    transform: translateY(-46px);
  }

  .hero.isme {
    height: 270px;
  }

  .address {
    height: 24px;
    padding: 0 8px;
    line-height: 24px;
    font-size: 13px;
  }

  .inner {
    & img {
      width: 100px;
      height: 100px;
    }
  }

  .mask {
    width: 100px;
    height: 100px;
  }

  .action {
    margin-top: 33px;
    padding: 6px 10px;
    font-size: 18px;
    letter-spacing: 2px;
  }
}
